/** BEM
 * BLOCK ELEMENT MODIFIER
 * Header
 */
 .btn {
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    padding: 7px 14px;
    border-radius: 3px;
    border: none;
    font: 700 13px/18px Helvetica, arial;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11),
                0 1px 3px rgba(0, 0, 0, .08);

            box-shadow: 0 4px 6px rgba(50, 50, 93, .11),
                0 1px 3px rgba(0, 0, 0, .08);
}

.btn {
    color: #444;
    background-color: #e6e6e6;
    border: 1px solid #999;
    -webkit-transition: background-color 250ms ease-out;
    -o-transition: background-color 250ms ease-out;
    transition: background-color 250ms ease-out;
}

.btn:hover {
    background-color: #c9c8c8;
}


.btn:focus {
    outline: 0;
}

.btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.btn--state-success {
    color: #fff;
    background: #569e3d -webkit-gradient(linear, left top, left bottom, from(#79d858), to(#569e3d)) repeat-x;
    background: #569e3d -webkit-linear-gradient(#79d858, #569e3d) repeat-x;
    background: #569e3d -o-linear-gradient(#79d858, #569e3d) repeat-x;
    background: #569e3d linear-gradient(#79d858, #569e3d) repeat-x;
    border-color: #4a993e;
}

.btn--color-red {
    background: #d80c0c;
    color: #fff;
    border: 1px solid #850808;
}

.btn--color-red:hover {
    background: #b60505;
}

/* 
.btn:active {
    transform: translateY(1px);
} */