.flip-card {
    position: relative;
    width: 9rem;
    height: 12rem;
    perspective: 30rem;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 100ms ease-in;
    backface-visibility: hidden;
    font-size: 2rem;
    padding: 0.5rem 0.3rem;
}

.front {
    background-color: rgb(72, 110, 235);
    background-image: url(../assets/nine.jpg);
    background-image: url(../assets/nine.jpg),
    -webkit-gradient(linear, left top, left bottom, from(#a8c0ff), to(#3f2b96));
    background-image: url(../assets/nine.jpg),
    -webkit-linear-gradient(#a8c0ff, #3f2b96);
    background-image: url(../assets/nine.jpg),
    -o-linear-gradient(#a8c0ff, #3f2b96);
    background-image: url(../assets/nine.jpg),
    linear-gradient(#a8c0ff, #3f2b96);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    color: rgb(146, 28, 28);
}

.back {
    background-color: #d64532;
    color: #fff;
    transform: rotateY(180deg);
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(360deg);
}