/**
 * Product card
 */
 .product-card h2,
 .product-card p {
     margin: 0;
     padding: 0;
 }
 .product-card {
     display: flex;
     flex-direction: column;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.20);
     background: #fff;
 }
 
 @media (min-width: 600px) {
     .product-card {
         flex-direction: row;
     }
 }
 
 .product-card__img-container {
     flex: 1;
 }
 .product-card__content {
     flex: 2;
 }
 
 @media (min-width: 600px) {
     .product-card__img-container figure {
         height: 100%;
     }
     .product-card__img-container figure
     .product__img {
         height: 100%;
     }
 }
 
 .product-card__content {
     padding: 40px 40px;
 }
 
 @media (min-width: 600px) {
     .product-card__content {
         padding: 100px 40px;
     }
 }
 
 h2.product-card__title {
     font-size: 2rem;
     font-weight: 800;
 }
 p.product-card__subtitle {
     font-size: 0.8rem;
     font-weight: 800;
     line-height: 1.2;
     text-transform: uppercase;
     letter-spacing: 1px;
     color: #6195a2;
     margin-bottom: 30px;
 }
 p.product-card__description {
     font-size: 0.8rem;
     line-height: 1.6;
     color: rgb(59, 52, 52);
     margin-bottom: 30px;
 }
 p.product-card__price {
     font-size: 1.2rem;
     font-weight: 800;
     margin-bottom: 15px;
 }
 a.product-card__button {
     display: inline-block;
     background: #6195a2;
     color: #fff;
     text-decoration: none;
     /* padding: 0.4rem 0.8rem; */
     padding: 8px 16px;
     transition: background 250ms ease-in;
 }
 
 a.product-card__button:hover {
     background: #417786;
 }
 
 h2.product-card__title, 
 p.product-card__price {
     color: #444
 }

/**
 * Product cards
 * Top and bottom section.
 * Image on top, description bottom
 */
/** Card grid
 * can be used for any type
 * of responsive grid.
 */
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (min-width: 600px) {
    .grid > .card {
        flex: 1 1 25%;
        margin: 20px 10px;
    }
}

/**
 * Responsive Grid
 */
@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2rem;
    }
    ul.grid {
        padding: 0;
    }
    .grid > .card {
        margin: 0;
    }
}

@media (min-width: 600px) {
    @supports (display: grid) {
        .grid {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
    text-shadow: none;
    background: #fff;
    color: rgba(14,30,37,.87);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    text-align: left;
    font-size: .8em;
}

.card__img {
    margin-bottom: 1rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 0 1.618rem;
    padding-bottom: 1.234em;
}

.card-content__title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #c0314f;
}

.card-content__descr {
    font-size: 0.9rem;
}

.card-content .card-btn {
    margin: 0 auto;
}

/**
 * Card button styling
 */
a.btn.card-btn {
    background: #c0314f;
    color: #fff;
    border: 1px solid #850808;
}

a.btn.card-btn:hover {
    background: #a1223d;
}

/**
 * Simple Cards
 * Image with text on top
 */
.simple-card-grid {
    list-style-type: none;
    display: flex;
    align-content: center;
    justify-content: center;
}

.simple-card {
    position: relative;
    width: 60%;
    font-weight: 300;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.65);
}

.simple-card::before,
.simple-card::after {
    content: "";
    position: absolute;
    border: 1px solid #fff;
}

.simple-card::before {
    top: 1.5rem;
    bottom: 1.5rem;
    right:1.5rem;
}

.simple-card::after {
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
}

.simple-card__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.simple-card__body {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 2rem;
}

.simple-card__title,
.simple_card__text {
    margin: 0;
}

.simple-card__title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: .5em;
    position: relative;
    z-index: 1;
    color: #000;
}

.simple-card__title::before {
    content: "";
    position: absolute;
    background: yellow;
    width: calc(100% + 5rem);
    top: -.1em;
    bottom: -.15em;
    left: -5rem;
    z-index: -1;
    box-shadow: inset -15px 0 10px -10px rgba(0, 0, 0, 0.5);
}

.simple-card__title::after {
    content: '';
    position: absolute;
    top: -.1em;
    bottom: -.15em;
    left: calc(100% + 2rem);
    width: 2rem;
    background: yellow;
    box-shadow: inset 12px 0 10px -10px rgba(0, 0, 0, 0.5);

}

.simple_card__text {
    font-size: 0.9rem;
    text-align: right;
}