    /**
 * Modal
 */

 .base-modal {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: -450px;
    width: 100%;
    animation-name: slideDown;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
}

.base-modal--header,
.base-modal--content,
.base-modal--footer {
    width: 100%;
}

.base-modal.open {
    display: flex;
    flex-direction: column;
}

body.base-modal.open {
    overflow: hidden;
}

/* .base-modal--header,
.base-modal--footer {
    padding: 0.2rem 0.5rem;
} */

.base-modal--content {
    height: 100%;
    overflow-y: auto;
    /* padding: 2.5rem 0.5rem 0; */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 450px, 0);
    }
}

.base-modal--header--style,
.base-modal--footer--style {
    background: #EFEDEB;
    color: #2F419A;
}

.base-modal--content--style {
    background: #62719F;
    color: #EFEDEB;
}