/**
 * Nav Styles
 */
nav ul,
.mobile-nav__header,
.modal--content li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a,
.modal--header li a,
.mobile-nav__header li a,
.modal--content li a {
    text-decoration: none;
    color: #000;
}

.nav {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.nav-container {
    display: flex;
}

.nav-logo {
    margin-right: auto;
}

.nav-container li:not(:first-child) a {
    padding: 10px 15px;
    text-align: center;
}

.mobile-nav {
    display: none;
}

@media (max-width: 600px) {
    .nav-container {
        display: none;
    }
    .nav-logo {
        margin-right: initial;
    }
    .mobile-nav {
        display: block;
    }
    .mobile-nav__header {
        display: flex;
        justify-content: space-between;
    }
    
    .mobile-ham::before {
        content: '\2630';
        display: inline-block;
        margin-right: 0.25rem;
    }
    .mobile-ham {
        cursor: pointer;
    }
}

/*  legacy browsers support

.nav-container li a {
    color: blue;
}

.nav-container li:first-child a {
    color: black;
} */

.nav--style {
    box-shadow: 0px 0px 14px 0 rgba(0, 0, 0, 0.75);
}

.active:hover {
    color: rgb(124, 116, 116);
}

.nav-logo--color {
    color: #fff;
}